@import url("https://inclusive-ui.netlify.app/docs/main.css");

/*  */

.active {
	font-weight: bold;
}

.navbar {
	z-index: 1;
}

.navbar-logo {
	width: 8rem;
	padding: 8px;
}

body {
	font-size: 1.6rem;
}

.container {
	background: hsl(0deg 0% 95%);
}

.footer {
	font-family: var(--font-poppins);
	background: var(--DARKEST-GRAY);
	color: var(--NEUTRAL);
	justify-content: space-around;
}

.footer nav li span {
	color: var(--NEUTRAL);
}

.footer a {
	color: var(--NEUTRAL);
	text-decoration: none;
}
